.gpt3__navbar {
    display: flex;
    align-items: center;
     position: fixed; 
    padding: 1rem 4rem;
    padding-top: 2rem;
    justify-content: space-between;
}
.register{
    margin-bottom: 7px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    cursor: pointer;
}


.gpt3__navbar-links_logo {
    margin-right: 2rem;

}

.gpt3__navbar-links_logo img {
    width: 62.56px;
    height: 16.02px;
}

